body{
    background-color: #0d1a2d;
  }
  .content{
    margin:130px auto;
    height:550px;
    width:300px;
    background-color: #15273f;
    padding:30px;
    color:#7f95b4;
    font-family: 'Outfit', sans-serif;
    border-radius:10px;
  }
  #ethernium{
    width:250px;
    border-radius:250px;
    padding-left: 25px;
   
  }
  
 