@import url( 'https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.cont1{
    border: 1px solid black;
    width: 1200px;
    height: 600px;
    margin: auto ;
    margin-top: 200px;
    display: flex;
}
.cont1 img{
    width:100px;
    height: 100px;
}

   

.cont_2main{
    border: 1px solid black;
    width: 950px;
    height: 600px;
   text-align:center;
   align-items: center;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   
   
}
.cont1_left{
    border: 1px solid black;
    width: 250px;
    height:600px
}

.input-field label{
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e ;
}
 .input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 50px;
    height: 42px;
    margin: 8px 0; 
 }
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #707070;}
    .input-field{
        display: inline;
        margin: 50px;
        text-align: center;
    }