@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}

:root {
  --primary: #ed2b33ff;
  --secondary: red;
}

a {
  text-decoration: none;

}

h1,
h2.h3 {
  font-family: 'Carter One', cursive;
}

ul {
  list-style: none;
}

.active {
  color: var(--primary);
  font-weight: bold;
}

/*navbar*/
.nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.nav img {
  width: 80px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 30px;
}

nav ul li a {
  color: #ea0542;
  font-family: 'Carter One', cursive;
}


nav ul li a:hover {
  color: #fd4766;
}

nav ul li a:after {

  position: absolute;
  height: 3px;
  background: rgb(155, 38, 79);
  transition: .3s;
  bottom: 0;
}

nav ul li a:hover:after {
  width: 100%;
}



/*test*/

header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/testing.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  align-items: flex-start;
}

.header-content {
  margin: 300px 50px 0px 0px;
  color: #d12e2e;
  text-align: center;
}

.header-content h2 {
  font-size: 4vmin;
  color: #d12e2e;
  font-family: 'Carter One', cursive;
}

.line {
  width: 150px;
  height: 5px;
  background: var(--primary);
  margin: 10px auto;
  border-radius: 5px;
}

nav ul li:nth-child(6) a {
  color: white;
}

.signup a {
  color: white;
  font-weight: 1000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: red;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn {
  padding: 8px 20px;
  font-weight: 1000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: red;
  border-radius: 40px;
  color: white;
}

.btn:hover {
  background: white;
  border-color: white;
  color: black;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Carter One', cursive;
}

.imagealign {
  padding-top: 10px;
}

/*main-content*/
section {
  width: 80%;
  margin: 80px auto 0px auto;
}

.title {
  text-align: center;
  font-size: 4vmin;
  color: rgb(54, 54, 107);
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.row .col img {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.col {
  text-align: center;
}

.main-img1 {
  margin-left: 160px;
}

.maincontents .row {
  margin-top: 50px;
}

h4 {
  font-size: 3vmin;
  color: #484872;
  margin: 20px auto;
}

p {
  color: #7c7c7c;
  padding: 0px 40px;
}

.maincontents .ctn {
  margin-top: 30px;
}

.explore {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.explore-content {
  width: 45%;
  padding: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.explore-content h1 {
  font-size: 7vmin;
  color: #d12e2e;
  font-family: 'Carter One', cursive;
}

.explore-content .line {
  margin-bottom: 30px;
}

.explore-content p {
  color: rgb(11, 8, 8);
  font-size: x-large;
}

.explore-content .ctn {
  margin-top: 40px;
}

.explore-content {
  margin: 250px 20px auto 850px;
}

.content-col {
  width: 40%;
}

.image-col {
  width: 60%;
}

.blood .row .col {
  width: 50%;
}

.blood .image-gallery {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  align-items: center;
}

.image-gallery img {
  max-width: 250px;
  margin: 10px;
}

.content-col h1 {
  font-size: 7vmin;
  color: #484872;
  font-family: 'Carter One', cursive;
}

.content-col .line {
  margin-left: -1px;
}

.content-col p {
  padding: 0;
  margin: 30px auto;
}

.content-col .ctn {
  margin-left: -100px;
}

/*footer*/

footer {
  background-color: grey;
  height: 250px;
  text-align: center;

}

footer a {
  text-decoration: none;
  color: white;
}

.footericons,
.footernav,
.contact,
.footer2 {
  display: flex;
  padding: 30px auto;
  justify-content: center;
}

.footericons {
  margin-bottom: 30px;
}

.footernav a {
  margin: 20px;
}

.footer2 {
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  line-height: 30px;
}

.footericons img {
  width: 40px;
  margin: auto 20px;
}

.footer>img {
  margin-top: 20px;
  width: 80px;
}

/*blood availability*/
/*donor*/
/*bloodcamp*/

.blood-form {
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  margin: 250px auto 100px auto;
}

.blood-form a {
  background: red;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px auto;
}

form select {
  width: 300px;
  height: 40px;
  padding: 3px 8px;
}

input[type="submit"] :hover {
  background: red;
}

.bloodh1 {
  text-align: center;
  color: #ea0542;
}

.blood {
  padding-bottom: 100px;
  background-color: rgba(245,245,245,255);
  width: 100%;
  
}

.blood-availability {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/listimage.jpg");
  background-position: bottom;
  background-size: cover;

  justify-content: flex-end;
  border: 1px solid black;
  align-items: flex-start;
}

.donor-availability {

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/bgdonorimage.jpg");
  background-position: bottom;
  background-size: cover;

  justify-content: flex-end;
  border: 1px solid black;
  align-items: flex-start;
}

/* table*/
table {
  width: 1300px;
  margin: 10px auto;
  transform: scale(.9.5);
}

th {
  padding: 10px;
  font-size: 20px;
  font-family: 'Carter One', cursive;
  letter-spacing: 1px;
  background-color: #29b6f6;
}

td {
  padding: 10px;
}

table,
th,
td {
  margin-top: 100px;
  height: 100px;
}

table tr td:nth-child(1) {
  background-color: #FF6863;
  text-align: center;
}

table tr td {
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  border: solid black;
  border-width: 0px 0px 1px 0px;
}

.h1 {
  text-align: center;
}

#donateh {
  text-align: center;
  padding-top: 180px;
}

/*tips*/
.container_tips{
  margin: 50px auto;
}
.tips_head {
  text-align: center;

}

.tip{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 300px;
  height: 300px;
  margin: 50px 40px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.tip h3{
  text-align: center;
}
.tip .hr{
  margin: 10px 0px 20px 0px;
}
.tip ul{
  margin: 20px;
}
.tip ul li{
  list-style:square;
  font-size: 14px;
  margin: 5px 0px;
  color: #3a3a3a;
}
.tips{
  display: flex;
  justify-content: center;
 
}
.num{
  position: absolute;
  color: #484872;
}


.list_one{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 1000px;
  height: 300px;
  margin: 50px auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  
}
.list img{
  width: 350px;
  float:left;
  margin:auto 30px;
  

}
 span{
  color: black;
  font-weight: 1000;

}
.blood-forms {
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  margin: 100px auto 100px auto;
}
.blood-forms a {
  background: red;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/*3 images*/
.blood h1{
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}
.img{
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.img img{
  width: 350px;
  border-radius: 5px;

}
.img img:nth-of-type(2){
  margin: 30px 50px
}


.blood_para{
  display: flex;
  width: 80%;
  box-sizing: content-box;
  padding: 30px;
  margin: 20px auto;


}
.blood_para h2{
  width: 40%;
margin-top: 20px;
  font-size: 25px;
}
.blood_para h2 span{
  font-size: 38px;
  color: #d12e2e;
}
.blood_para p{
  width: 60%;
  text-indent: 30px;

  padding: 20px ;
 

}