@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ed2b33ff;
  --secondary:red;
}
a {
  text-decoration: none;
  
}
h1,h2.h3{
  font-family: 'Carter One', cursive;
}
ul {
  list-style: none;
}
.active {
  color: var(--primary);
  text-decoration: underline;
  font-weight: bold;
}

/*navbar*/
.nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}
.nav img {
  width: 80px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  margin: 0 30px;
}
/* .navigation{
  height: 60px;
  width:100%;
  background-color:rgba(1,151,214,255);
  display: block;
} */
header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/testing.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  align-items:flex-start;
}
.header-content {
  margin: 300px 50px 0px 0px;
  color:  #d12e2e;
  text-align: center;
}
.header-content h2 {
  font-size: 4vmin;
  color: #d12e2e;
  font-family: 'Carter One', cursive;
}
.line {
  width: 150px;
  height: 4px;
  background: var(--primary);
  margin: 10px auto;
  border-radius: 5px;
}
nav ul li:nth-child(6) a{
    color: white;
}
.ct a {
  color: white;
  background-color: red;
  padding: 10px 20px;
  border-radius: 20px;
}
.ctn {
  padding: 8px 20px;
  background: red;
  border-radius: 40px;
  color: white;
}
.header-content h1 {
  font: size 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Carter One', cursive;
}

.imagealign {
  padding-top: 10px;
}

/*content*/
section {
  width: 80%;
  margin: 80px auto;
}
.title {
  text-align: center;
  font-size: 4vmin;
  color: rgb(54, 54, 107);
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.row .col img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col {
  text-align: center;
}
.king {
  margin-left: 160px;
}
.events .row {
  margin-top: 50px;
}
h4 {
  font-size: 3vmin;
  color: #484872;
  margin: 20px auto;
}
p {
  color: #7c7c7c;
  padding: 0px 40px;
}
.events .ctn {
  margin-top: 30px;
}

.explore {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.explore-content {
  width: 45%;
  padding: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}
.explore-content h1 {
  font-size: 7vmin;
  color:#d12e2e;
  font-family: 'Carter One', cursive;
}
.explore-content .line {
  margin-bottom: 30px;
}
.explore-content p {
  color: rgb(11, 8, 8);
  font-size: x-large;
}
.explore-content .ctn {
  margin-top: 40px;
}
.explore-content {
  margin:250px 20px auto 850px;
}
.content-col {
  width: 40%;
}
.image-col {
  width: 60%;
}
.blood .row .col {
  width: 50%;
}
.blood .image-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.image-gallery img {
  max-width: 250px;
  margin: 10px;
}
.content-col h1 {
  font-size: 7vmin;
  color: #484872;
  font-family: 'Carter One', cursive;
}
.content-col .line {
  margin-left: -1px;
}
.content-col p {
  padding: 0;
  margin: 30px auto;
}
.content-col .ctn {
  margin-left: -100px;
}
/*footer*/

footer {
  background-color: grey;
  height: 250px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: white;
}
.footericons,
.footernav,
.contact,
.footer2 {
  display: flex;
  margin: 30px auto;
  display: block;
}

.footernav a {
  margin: 20px;
}
.footer2 {
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  line-height: 30px;
}
.footericons img {
  width: 40px;
  margin: auto 20px;
}
.footer > img {
  margin-top: 20px;
  width: 80px;
}

/*blood availability*/

.blood-form {
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  margin: 250px auto 100px auto;
}

.blood-form a {
  background: red;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px auto;
}
form select {
  width: 300px;
  height: 40px;
  padding: 3px 8px;
}
input[type="submit"] :hover {
  background: red;
}
.bloodh1 {
  text-align: center;
}
.blood {
  padding-bottom: 100px;
}

/* table*/
table {
  width: 1300px;
  margin: 10px auto;
}
th {
  padding: 10px;
}
td {
  padding: 10px;
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 150px;
}
.h1 {
  text-align: center;
}
#donateh {
  text-align: center;
  padding-top: 180px;
}
